.Rajorangetitle{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;

}


.Rajorangeflex{
    display: flex;
    margin-top: 30px;
   
}

.Rajorangeconatiner{
    margin-left: 45px;
    margin-top: 10px;
    margin-right: 30px;
    border: 1px solid rgb(236, 73, 4);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(236, 73, 4);
    color: white;
   
}

.Rajorange1{
    width: 300px;
    height: 250px;
}