.Gujratnavbarplayer{
    height: 150px;
    background-color:rgb(4, 53, 96);
    

}

.Gujratplayercontainer{
    color: white;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
}

.Gujratcrud{
   margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table td{
    width: 200px;
    height: 30px;
    background-color: rgb(217, 205, 228);
    text-align: center;
    color: rgb(15, 1, 1);
}

.GujratEdit{
    width: 60px;
    padding: 10px;
    background-color: rgb(69, 69, 185);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.GujratDelete{
    width: 60px;
    padding: 10px;
    background-color: rgb(252, 17, 36);
    border-radius: 10px;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}



.Gujratplayersbuttons{
    display: flex;
    margin-left: 20px;
    padding: 5px;
}


.Gujrataddbutton{
    width: 100px;
    padding: 10px;
    background-color: rgb(47, 209, 7);
    border-radius: 10px;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}

