.Luckpurpletitle{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.Luckpurpleflex{
    text-align: center;
    font-size: 50px;
   
}

.Luckemoji{
    margin-right: 50%;
}



