.Luckorangetitle{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}


.Luckorangeflex{
    text-align: center;
    font-size: 50px;
   
}

.Luckemoji{
    margin-left: 650px;
    font-size: 50px;
}

